html
  head
    title= title
    link(rel="stylesheet" href="stories.css")
  body(class=`${theme}`)
    h1= slide
  script(type='text/javascript').
    window.data = "#{data}";
    window.slide = #{slide};
    
  script(src='stories.js').

  script.
    const body = document.querySelector('body');
    const data = JSON.parse(window.data.replace(/&quot;/g,'"'));
    console.log(window.slide, 'slide')
    const pageData = data[window.slide];
    body.innerHTML = window.renderTemplate(pageData.alias, pageData.data);



